@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte01: verdana, geneva, tahoma, sans-serif;
    --fonte02: "Passion One", sans-serif; /*titulos*/
    --fonte03: "Sriracha", cursive;        /*conteudo*/
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    /* (text-transform: uppercase;) Para meter o texto todo em letras maiusculas*/
    font-variant: small-caps; /*para meter o texto com leras maiusculas mas a 1 letra incial é maior*/
    font-family: var(--fonte02);
    font-size: 10vh;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte03);
    font-size: 3.5vh;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block; /*a vantagem que tem e que assim a caixa vai se adaptar a largura do texto--mas não posso meter a tag with pois automaticamente with ira se sobrepor a tag inline-block*/
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}